/* style header media */

@media (max-width:1025px) {
    .header{
        background-color: #fff;
        padding: 10px 0;
        .container{
            width: 90%;
            nav{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                .logo{
                    img{
                        width: 100px;
                        height: 62px;
                    }
                }
                .hire-me{
                    text-decoration: none;
                    padding: 6px 25px;
                    background-color: #fc6900cc;
                    color: #fff;
                    border-radius: 20px;
                    transition: 0.5s;
                    &:hover{
                        background-color: #fc6900df;
                    }
                }
                .menu{
                    margin-left: 0;
                    position: fixed;
                    left: -500px;
                    top: 82.3px;
                    bottom: 0;
                    z-index: 1;
                    background-color: #000;
                    overflow-y: auto;
                    transition: 0.5s;
                    .title{
                        color: #fd8733;
                        border-bottom: 2px solid #fd8733;
                        padding: 10px;
                        display: block;
                        margin-bottom: 5px !important;
                        text-align: start;
                    }
                    ul{
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        flex-direction: column;
                        margin-bottom: 0;
                        padding-left: 0;
                        padding: 10px;
                        li{
                            list-style: none;
                            margin-right: 0;
                            margin-bottom: 15px;
                            width: 100%;
                            border-radius: 4px;
                            overflow: hidden;
                            a{
                                text-decoration: none;
                                font-size: 20px;
                                color: #fff;
                                transition: 0.2s;
                                display: block;
                                background: #fd8733;
                                padding-left: 20px;
                                transition: 0.5s;
                                &:hover{
                                    color: #fc6900cc;
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                }
                .active{
                    left: 0 !important;
                }
                #toggle{
                    display: block;
                }
            }
        }
    }
}
@media (max-width:768px) {
    .header{
        background-color: #fff;
        padding: 10px 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        .container{
            width: 90%;
            nav{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                .logo{
                    img{
                        width: 100px;
                        height: 62px;
                    }
                }
                .hire-me{
                    text-decoration: none;
                    padding: 6px 25px;
                    background-color: #fc6900cc;
                    color: #fff;
                    border-radius: 20px;
                    transition: 0.5s;
                    &:hover{
                        background-color: #fc6900df;
                    }
                }
                .menu{
                    margin-left: 0;
                    position: fixed;
                    left: -500px;
                    top: 82.3px;
                    bottom: 0;
                    z-index: 1;
                    background-color: #000;
                    overflow-y: auto;
                    transition: 0.5s;
                    .title{
                        color: #fd8733;
                        border-bottom: 2px solid #fd8733;
                        padding: 10px;
                        display: block;
                    }
                    ul{
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        flex-direction: column;
                        margin-bottom: 0;
                        padding-left: 0;
                        padding: 10px;
                        li{
                            list-style: none;
                            margin-right: 0;
                            margin-bottom: 10px;
                            a{
                                text-decoration: none;
                                font-size: 20px;
                                color: #fff;
                                transition: 0.2s;
                                &:hover{
                                    color: #fc6900cc;
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                }
                .active{
                    left: 0 !important;
                }
                #toggle{
                    display: block;
                }
            }
        }
    }
}





/* end style header media */