/* style banner */

.items-banner{
    padding:200px 0;
    background-color: rgba(239, 235, 235, 0.299);
    position: relative;
    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        right: 207px;
        background-image: url("../images/avatar-img/IMG_4290.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 335px;
        height: 505px;
        border-top-left-radius: 157px;
        border-top-right-radius: 172px;
    }
    .item-banner{
        display: flex;
        .socal{
            margin-right: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            a{
                text-decoration: none;
                font-size: 20px;
                color: #100548cc;
                margin-bottom: 8px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .banner-data{
            h2{
                color: #fc6900cc;
                font-size: 25px;
            }
            h1{
                color: rgba(13, 13, 129, 0.916);
                font-size: 45px;
                font-weight: 800;
            }
            h3{
                color: #100548cc;
            }
            .group-btn{
                margin-top: 20px;
                .down_cv{
                    text-decoration: none;
                    padding: 12px 25px;
                    color: #fff;
                    border-radius: 20px;
                    margin-right: 10px;
                    font-size: 16px;
                    overflow: hidden;
                    display: inline-block;
                    position: relative;
                    border: 2px solid #fc6900cc;
                    span{
                        position: relative;
                        transition: 0.5s;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #fc6900cc;
                        transition: 0.5s;
                    }
                    &:hover::before{
                        transform: translate3d(-100%,0,0);
                    }
                    &:hover{
                        span{
                            color: #fc6900cc;
                        }
                    }
                }
                .contact_me{
                    text-decoration: none;
                    padding: 12px 25px;
                    color: #fff;
                    border-radius: 20px;
                    margin-right: 10px;
                    font-size: 16px;
                    overflow: hidden;
                    display: inline-block;
                    position: relative;
                    border: 2px solid #fc6900cc;
                    span{
                        position: relative;
                        transition: 0.5s;
                        color: #fc6900cc;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #fc6900cc;
                        transition: 0.5s;
                        transform: translate3d(-100%,0,0);
                    }
                    &:hover::before{
                        transform: translate3d(0,0,0);
                    }
                    &:hover{
                        span{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .items-services{
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translateX(-50%) translateY(-10%);
        background-color: #fff;
        border-radius: 100px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 40px;
        width: 660px;
        .item_service{
            display: flex;
            align-items: center;
            justify-content: center;
            .item{
                width: 33.3333333%;
                border-right: 1px solid rgb(174, 173, 173);
                display: flex;
                align-items: center;
                justify-content: center;
                .logo_service{
                    position: relative;
                    width: 50px;
                    height: 50px;
                    background-color: #fc6900cc;
                    color: #fff;
                    border-radius: 50%;
                    .icon_logo_service{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        font-size: 25px;
                    }
                }
                .content_service{
                    margin-left: 6px;
                    h3{
                        margin-bottom: 0;
                        font-size: 18px;
                        font-weight: 800;
                        color: #0e014ae0;
                    }
                    span{
                        color: #fc6900cc;
                        font-size: 13px;
                    }
                }
                &:last-child{
                    border-right: none;
                }
            }
        }
    }
}



/* end style banner */